@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eff6ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  padding: 0rem 0.5rem;
  display: inline;
}

.navigation {
  padding-top: 1rem;
  color: white;
  background-color: #5886af;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation li a:hover {
  color: whitesmoke;
  font-weight: bold;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation .link-active {
  font-weight: bold;
}

.one {
  padding: 1rem;
  text-align: center;
  background-color: #eff6ff;
}
.one h2 {
  font-size: 1.5rem;
}

.one .image {
  max-width: 300px;
  display: block;
  margin: auto;
  border-radius: 10%;
  padding: 2rem;
}

button {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1rem;
}

button a {
  text-decoration: none;
  color: white;
}

.two {
  padding: 1rem;
  min-height: 80vh;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin:30px auto; */
}

.img-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.content {
  width: 500px;
  height: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.content h1 {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 2em;
}

.content h1 a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.lead {
  font-weight: 400;
  font-size: 1.35em;
  line-height: 1.5;
  margin-top: 1rem;
}

#btnn {
  position: relative;
  display: block;
  text-decoration: none;
  margin-top: 1rem;
  padding: 2rem;
  color: black;
  font-weight: bold;
}

#btnn:hover {
  background-color: #4338ca;
  color: white;
}

.three {
  padding: 1rem;
  text-align: center;
  background-color: #eff6ff;
}

.four {
  padding: 1rem;
  text-align: center;
  background-color: white;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/78b4ab101553609.5f216d8dd47aa.jpg");
  background-size: contain;
  background-repeat: repeat-x;
}

.four h1 {
  /* border:2px solid silver; */
  font-size: 1.8rem;
  color: black;
  z-index: 1000000;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.three h2 {
  text-decoration: underline;
  padding: 1rem;
}

.box1 {
  border: 2px solid silver;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
  color: #4338ca;
  margin-top: 10px;
}

.box {
  width: 400px;

  margin: 100px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.box .heading {
  background: #5886af;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: "Rubik";
}

.faqs {
  padding: 0px 20px 20px;
}

::-webkit-details-marker {
  float: right;
  margin-top: 3px;
}

details {
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-family: "Rubik";
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

details summary {
  outline: none;
}

.box-img {
  margin: 0 auto;
}
.box-img img {
  max-width: 400px;
  margin: 20px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.main-content {
  /* background-color: #5886af;
    background-color: #A5B4FC; */
  background-color: #5886af;
  /* padding:1rem; */
  display: flex;
  color: white;
}

.main-content .box3 {
  flex-basis: 50%;
  /* display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; */
  /* margin :0 auto; */
  padding: 10px 60px;
}

.box3 h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.box3 .content1 {
  margin: 20px 0 0 0;
}

.left .content1 p {
  text-align: justify;
}

.left .content1 .social1 {
  margin: 20px 0 0 0;
}

.left .content1 .social1 a {
  padding: 0 2px;
  text-decoration: none;
  color: white;
}

.left .content1 .social1 a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

textarea,
input[type="email"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid silver;
  border-radius: 4px;
}

#my-form-button {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  width: 30%;
}

@media screen and (max-width: 600px) {
  .one h2 {
    font-size: 1.2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .lead {
    font-size: 1.2em;
    text-align: center;
    padding: 1rem;
  }
  .box-img img {
    max-width: 400px;
  }

  .main-content {
    flex-direction: column;
  }

  #no {
    text-decoration: none;
    color: white;
  }
}
